*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: #282828;
  color: white;
}

header {
  width: 100vw;
  color: white;
  height: 50px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  position: relative;
}
li{
  width: 65px; height: 20px;
  margin: 5px;
  padding: 5px;
  font-weight: bold;
  text-align: center;
  transition: linear 0.5s;
  border-radius: 5px;
}
li:hover{
  background-color: white;
  color: black;
}
h1{
  text-align: center;
  position: relative;
  top: 240px;
}
